.Order {
    border: 1px dotted black;
    box-shadow: 0 2px 3px  gray;
    width: 60%;
    margin-left: 250px;
    margin: 45px;
    height: 130px;
    padding: 10px;
    box-sizing: border-box;
}

p {
    text-align: center;
}